/*reglas
selectores
declaraciones
propiedades
valores*/

/*Selector de etiqueta header - section -article -nav*/
/*header {
/*    background: #094275;
/*    color: #f0d5c0
/*}

/*Selector descendente */
/*body header div nav ol li a*/

/*selector de clase*/ /*Es laa forma más popular de poner estilos*/
/*<nombre de la clase class="link" por ejemplo>

/**selector de id #/
/*#<nombre del id> #background */

/*background = #9c9c9c*/
/*logo = #3e5f8a*/
/*slogan = #f8f32b*/
/*main = #474b4e*/

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #3e5f8a;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat','Roboto' sans-serif;
    letter-spacing: -0.2px;
    /*text-transform: lowercase*/
    /*text-decoration: dotted;*/
}

h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.2px;
    font-weight: bold;
    margin: 0;
   /*margin: top right bottom left;*/
}

h1 strong{
    color: whitesmoke;
}

.logo{
    height: inherit;
    align-items: center;
    
}

.header{
    background-color: #9c9c9c;
    color: #f8f32b;
    display: flex;
    justify-content: space-between;
    height:70px;
    align-items: center;
    padding-left: 15px;
}

.main_menu { /* .menu hereda de .header */
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a{
    color: #474b4e;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero{
    padding:15px;
    height: 285px;
    /*background-image: url('../images/hero/small-13.jpg');*/
    background-color: #3e5f8a;
    /*background-size: 285px 316px;*/
    /*background-repeat: no-repeat;*/
    background-position-x: right;
    justify-content: space-between;
    color: #f8f32b;
    display: flex;
    align-items: center;
}

.hero_image{
    object-fit: cover;
}

.Star_projects{
    background: #9c9c9c ;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.Star_title{
    color:#474b4e;
    font-weight: bold;
    font-size: 24px;
}

.project{
    border: 1px solid black;
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    background: whitesmoke;
}

.project_title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project_stack{
    margin: 10px 0;
}

.project_date{
    margin: 10px 0;
}

.project_media{
    margin: 10px 0;
}

.project_desc{
    font-size: 20px;
}

.project strong{
    font-family: 'Montserrat','Roboto' sans-serif;
}

.project_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-details {
    width: 500px;
}

.project_imageWrapper {

    width: 500px;
}

.Curriculum{
    display: flex;
    background-color: #3e5f8a;
    align-items: center;
    flex-wrap: wrap;
}

.CV_Title{
    color:#f8f32b;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

.bckgnd{
    /*border: 1px solid red;*/
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3e5f8a;
    
}

.bckgnd img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.bckgnd_wrap{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #2e5f8a;
    color: #f8f32b;
    position: relative;
    padding: 10px;
    text-align: center;
    
}

.bckgnd_desc{
    text-align: left;
}

.contact{
    background-color: #9c9c9c;
    color: whitesmoke;
    height: 125px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/*.social{
    border: 1px solid red;
}*/

.Contact_title{
    color:#474b4e;
    font-style: bold;
    padding: 5px 15px 2px;
    font-size: 27px;
    margin-bottom: 15px;
}

.social_link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social_link.TW{
    background-image: url('../images/icons/contact/003-gorjeo.svg');
    background-size: 50px 50px;
    border-radius: 5px;
    background-color: white;
}

.social_link.FB{
    background-image: url('../images/icons/contact/001-facebook.svg');
    background-size: 50px 50px;
    border-radius: 10px;
    background-color: white;
}

.social_link.GH{
    background-image: url('../images/icons/contact/005-github.svg');
    background-size: 50px 50px;
    border-radius: 25px;
    background-color: white;
}

.social_link.LK{
    background-image: url('../images/icons/contact/004-linkedin.svg');
    background-size: 50px 50px;
    border-radius: 5px;
    background-color: white;
}

.social_link.IG{
    background-image: url('../images/icons/contact/002-instagram.svg');
    background-size: 50px 50px;
    border-radius: 15px;
    background-color: white;
}

.form-email input{
    border-color: #3e5f8a;
    border-style: solid;
    padding: 5px 20px 5px 45px;
    background-image: url('../images/icons/contact/001-correo-electronico.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    margin-left: 15px;
}

.form-email button{
    margin-left: 10px;
    background-color: #2e5f8a;
    color: #f8f32b;
    padding: 5px 30px;
}

.footer{
    background-color:#3e5f8a;
    color: #f8f32b;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Container{
    border: 1px solid red;
    width: 1000px;
    margin: 0, auto;
    display:inherit;
    justify-content: inherit;
    height: inherit;
    align-items: inherit;
    flex-wrap: inherit;