/*reglas
selectores
declaraciones
propiedades
valores*/

/*Selector de etiqueta header - section -article -nav*/
/*header {
/*    background: #094275;
/*    color: #f0d5c0
/*}

/*Selector descendente */
/*body header div nav ol li a*/

/*selector de clase*/ /*Es laa forma más popular de poner estilos*/
/*<nombre de la clase class="link" por ejemplo>

/**selector de id #/
/*#<nombre del id> #background */

/*background = #9c9c9c*/
/*logo = #3e5f8a*/
/*slogan = #f8f32b*/
/*main = #474b4e*/

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #3e5f8a;
} /*Verificado*/

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat','Roboto', sans-serif;
    font-weight: normal;
    /*text-transform: lowercase*/
    /*text-decoration: dotted;*/
} /*Verificado*/

h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    font-weight: bold;
    margin: 0;
   /*margin: top right bottom left;*/
} /*Verificado*/

h1 strong{
    color: whitesmoke;
} /*Verificado*/

h2 {
    color:whitesmoke;
    /*text-transform: uppercase;*/
    font-family: 'Montserrat','Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    /*margin-bottom: 40px;*/
} /*Verificado*/

.hero{
    height: 300px;
    /*background-image: url('../images/hero/small-13.jpg');*/
    background-color: #3e5f8a;
    /*background-size: 285px 316px;*/
    /*background-repeat: no-repeat;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f32b;
} /*Verificado*/

.portfolio{
    background: #9c9c9c ;
    /*padding: 20px;*/
} /*Verificado*/

.portfolio_title{
    padding: 15px 0px;
    margin-bottom: 10px;
} /*Verificado*/

.project{
    border: 1px;
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    background: #7c7c7c;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}/*Verificado*/

.project_stack,
.project_date,
.project_media{
    margin: 10px 0;
}/*Verificado*/

.project_description{
    font-size: 20px;
}/*Verificado*/

.project strong{
    font-family: 'Montserrat','Roboto', sans-serif;
}/*Verificado*/

.project_title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}/*Verificado*/

.project-details {
    width: 500px;
}/*Verificado*/

.project_imageWrapper {
    width: 500px;
}/*Verificado*/

.logo{
    height: inherit;
    align-items: center;
}/*Verificado*/

.header{
    background-color: #9c9c9c;
    color: #f8f32b;
    display: flex;
    height:70px;
    align-items: center;
    justify-content: space-between;
}/*Verificado*/

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}/*Verificado*/

figure{
    margin: 0;
}/*Verificado*/

.header a{
    color: #f8f32b;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}/*Verificado*/

.main_menu { /* .menu hereda de .header */
    height: inherit;
}/*Verificado*/

.header ol {
    display: flex;
    height: inherit;
}/*Verificado*/

.header ol li {
    height: inherit;
}/*Verificado*/

.footer{
    color: #f8f32b;
    background-color:#3e5f8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}/*Verificado*/

.event_list{
    display: flex;
    flex-wrap: wrap;
}/*Verificado*/

.CV_Title{
    color:#f8f32b;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
}/*Verificado*/

.Star_title{
    color:#474b4e;
    font-weight: bold;
    font-size: 24px;
}/*Verificado*/

.event{
    /*border: 1px solid red;*/
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3e5f8a;
}/*Verificado*/

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}/*Verificado*/

.event_detail {
    margin: 5px 40px;
    margin-top: -40px;
    background-color: #2e5f8a;
    color: #f8f32b;
    position: relative;
    padding: 5px 20px;
    text-align: center;
}/*Verificado*/

.project_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}/*Verificado*/

.event_description{
    text-align: left;
}/*Verificado*/

/*.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}*/

.contact{
    background-color: #9c9c9c;
    color: whitesmoke;
    height: 125px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}/*Verificado*/

.project-details {
    width: 500px;
}/*Verificado*/

/*.social{
    border: 1px solid red;
}*/

.Contact_title{
    color: #fafafa;
    font-style: bold;
    padding: 5px 15px 2px;
    font-size: 27px;
    margin-bottom: 15px;
}/*Verificado*/

.social_link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 7px;
}/*Verificado*/

.social_link.KG{
    background-image: url('../images/icons/contact/kaggle-ar21.svg');
    background-size: 50px 50px;
    border-radius: 9px;
    background-color: white;
}/*Verificado*/

.social_link.TW{
    background-image: url('../images/icons/contact/003-gorjeo.svg');
    background-size: 50px 50px;
    border-radius: 9px;
    background-color: white;
}/*Verificado*/

.social_link.FB{
    background-image: url('../images/icons/contact/001-facebook.svg');
    background-size: 50px 50px;
    border-radius: 9px;
    background-color: white;
}/*Verificado*/

.social_link.GH{
    background-image: url('../images/icons/contact/005-github.svg');
    background-size: 50px 50px;
    border-radius: 25px;
    background-color: white;
}/*Verificado*/

.social_link.LK{
    background-image: url('../images/icons/contact/004-linkedin.svg');
    background-size: 50px 50px;
    border-radius: 15px;
    background-color: white;
}/*Verificado*/

.social_link.IG{
    background-image: url('../images/icons/contact/002-instagram.svg');
    background-size: 50px 50px;
    border-radius: 15px;
    background-color: white;
}/*Verificado*/

.social_link.GC{
    background-image: url('../images/icons/contact/grabcad-vector-logo.svg');
    background-size: 50px 50px;
    border-radius: 15px;
    background-color: white;
}/*Verificado*/

.social_link.MD{
    background-image: url('../images/icons/contact/medium.svg');
    background-size: 50px 50px;
    border-radius: 15px;
    background-color: white;
}/*Verificado*/

.form-email input{
    border-color: #3e5f8a;
    border-style: solid;
    padding: 5px 20px 5px 45px;
    background-image: url('../images/icons/contact/001-correo-electronico.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    margin-left: 15px;
}/*Verificado*/

.form-email button{
    margin-left: 10px;
    background-color: #2e5f8a;
    color: #f8f32b;
    padding: 5px 30px;
}/*Verificado*/

.container{
    /*border: 1px solid red;*/
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}/*Verificado*/

.event_subtitle a {
    color: #f8f32b;

}